@font-face {
    font-family: 'iconSweetsRegular';
    src: url('iconsweets/iconsweets-webfont.eot');
    src: url('iconsweets/iconsweets-webfont.eot?#iefix') format('embedded-opentype'),
         url('iconsweets/iconsweets-webfont.woff') format('woff'),
         url('iconsweets/iconsweets-webfont.ttf') format('truetype'),
         url('iconsweets/iconsweets-webfont.svg#iconSweetsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	color: #fcfafd;
	background: #160A47;
	padding: 0;
	margin: 0;
	text-align: center;
    min-width: 1000px;
}

a {
	color: rgb(170, 148, 255);
	opacity: 1;
	transition: 0.2s opacity;
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}

.center {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

header {
	padding: 10px 0;
	background: -webkit-linear-gradient(top, #60047A, #54046B);
	border-bottom: 1px solid #430454;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.8);
	overflow: hidden;
}

header h1 {
	margin: 0 0 0 30px;
	padding: 0;
	float: left;
    font-size: 12pt;
    color: #fef0ff;
}

header h1 a {
	color: inherit;
	text-decoration: none;
}

#user {
	float: right;
	text-align: right;
}

#user .user-label {
	line-height: 60px;
}
#user .signout-link {
	font-size: 12px;
}

#welcome {
    text-align: center;
}

#welcome h2 {
	margin: 180px 0 40px 0;
	font-size: 70px;
}

#welcome p.desc {
	width: 60%;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#welcome button {
	width: 30%;
	margin-right: 2%;
	padding: 20px 10px;
	font-size: 20pt;
	box-sizing: border-box;
	font-family: "Helvetica Neue";
	border: 1px solid rgba(0,0,0,0.7);
	border-radius: 5px;
	margin-bottom: 15px;
	background: -webkit-linear-gradient(top, #60047A, #54046B);
	border: 1px solid rgba(255,255,255,0.3);
	color: #fff;
	transition: 0.2s opacity;
	cursor: pointer;
}
#welcome .form button:hover {
	opacity: 0.8;
}

#wrapper {
	overflow: hidden;
	padding-top: 20px;
    padding-left: 20px;
}

.main-content {
	width: 70%;
	box-sizing: border-box;
	padding: 20px;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
	float: left;
}

.homepage-list-playlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.playlist-card {
	width: 90%;
	height: 100px;
	position: relative;
	background: #ccc;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	background: -webkit-linear-gradient(top, #60047A, rgb(20, 16, 20));
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s opacity;
	margin-bottom: 10px;
	overflow: hidden;
}
.playlist-card:hover {
	opacity: 0.7;
}
.playlist-card .playlist-card-background, 
.playlist-card .playlist-card-gradient-overlay{
	height: 100%;
}
.playlist-card .playlist-card-background img {
	width: 25%;
}
.playlist-card .playlist-card-gradient-overlay {
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,0.7) 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.playlist-card .playlist-name {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	z-index: 6;
	text-shadow: 2px 2px 3px #000;
	font-size: 17px;
}

.playlist h2 {
	margin-bottom: 10px;
    margin-left: 10px;
}

.playlist-songsCount, .playlist-loading {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7);
	font-weight: normal;
}

.playlist-song {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
	padding: 10px;
	overflow: hidden;
	line-height: 20px;
}
.playlist-song.added {
    background: rgba(87, 255, 87, 0.23);
}
.playlist-song img {
	margin-right: 5px;
}

.playlist-song-name {
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
}
.playlist-song-artist {
	font-size: 11px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
}
.playlist-song-remove {
	float: right;
	font-size: 11px;
	line-height: 25px;
	opacity: 0;
	transition: 0.3s opacity;
    cursor: pointer;
}
.playlist-song:hover .playlist-song-remove {
	opacity: 0.7;
}
.playlist-song:hover .playlist-song-remove:hover {
	opacity: 0.5;
}

.playlist-artwork {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

#playlist-search {
    margin-top: -10px;
}
#playlist-search-input {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	font-family: "Helvetica Neue";
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.7);
	outline: none;
}
#playlist-search-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.3); }
#playlist-search-results {
	border-left: 20px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.05);
	padding-left: 5px;
	display: none;
}
#playlist-search-results .playlist-song {
	opacity: 0.7;
	cursor: pointer;
	transition: 0.2s opacity;
}
#playlist-search-results .playlist-song:hover, #playlist-search-results .playlist-song.active {
	opacity: 1;
}

.sidebar {
	width: 270px;
	float: right;
}
.sidebar.left {
	float: left;
	margin-right: 5px;
}

.sidebar .widget {
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
}

.widget-title {
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 5px;
	color: #fff;
}

.sidebar.left .widget-title {
    padding-left: 10px;
}

a.small-icon-link{
	font-family: 'iconSweetsRegular';
	font-size: 14px;
	text-decoration: none;
}

#activity-feed {
    margin: 0;
    padding: 0;
    list-style: none;
}

#activity-feed li {
    padding: 10px 0;
}

#activity-feed li:first-child {
    padding-top: 0;
}

#activity-feed img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.diff-change {
	font-family: 'iconSweetsRegular';
	width: 20px;
	display: inline-block;
	color: red;
}
.diff-change.added {
	color: green;
}
.accept-pr-button {
	width: 100%;
	box-sizing: border-box;
}
.buttons {
    float: right;
}

.buttons a, .purplebutton {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 15px 8px;
    background: rgb(48, 48, 124);
    cursor: pointer;
    font-size: 15px;
}

span.icon {
	font-family: 'iconSweetsRegular';
	margin-right: 5px;
}

.owner-name {
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 2px;
}

.widget-title {
    padding: 5px;
}

.widget .history, .widget .pull-requests {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget .history li {
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

.widget .pull-requests li {
    padding: 4px 5px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    cursor: pointer;
}

.widget .pull-requests li.accepted {
	opacity: 0.3;
	border-left: 5px solid rgba(255, 255, 255, 0.2);
}

.widget .pull-requests li:hover {
    background: rgba(255, 255, 255, 0.05);
}

.widget .pull-requests li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


.widget .pull-requests li .date {
    display: block;
    font-size: 10pt;
    text-transform: uppercase;
    opacity: 0.8;
    margin-top: 4px;
}

.no-pull-requests {
    display: block;
    padding: 5px;
    opacity: 0.7;
}
