html, body {
	font-family: "Helvetica Neue";
	color: #fff;
	background: #160A47;
	padding: 0;
	margin: 0;
	text-align: center;
}

.center {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

header {
	padding: 20px 0;
	background: -webkit-linear-gradient(top, #60047A, #54046B);
	margin-bottom: 10px;
	border-bottom: 1px solid #430454;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
	overflow: hidden;
}

header h1 {
	text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
	margin: 0;
	padding: 0;
	line-height: 60px;
	float: left;
}

#user {
	float: right;
	text-align: right;
}

#user .user-label {
	line-height: 60px;
}

#user #user-login, #user #user-register {
	display: none;
}

#user input {
	padding: 7px;
	border-radius: 3px;
	font-family: "Helvetica Neue";
	border: 1px solid rgba(0,0,0,0.7);
}

#welcome h2 {
	margin: 200px 0 0 0;
	font-size: 70px;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.9);
	width: 50%;
}

#welcome p.desc {
	width: 60%;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#welcome .form {
	width: 60%;
}
#welcome .form input {
	width: 45%;
	margin-right: 2%;
	padding: 10px;
	font-size: 20px;
	box-sizing: border-box;
	font-family: "Helvetica Neue";
	border: 1px solid rgba(0,0,0,0.7);
	border-radius: 5px;
	margin-bottom: 15px;
}
#welcome .form button {
	width: 30%;
	background: -webkit-linear-gradient(top, #60047A, #54046B);
	border: 1px solid rgba(255,255,255,0.3);
	font-size: 16px;
	padding: 7px;
	border-radius: 5px;
	font-family: "Helvetica Neue";
	margin-right: 2%;
	color: #fff;
	transition: 0.2s opacity;
	cursor: pointer;
}
#welcome .form button:hover {
	opacity: 0.8;
}